<!DOCTYPE HTML>
<head>
<link rel="stylesheet" href="css/landing.css" media="all">
</head>

<body>
<div id="radioButtons">
<%= radio_button_tag(:age, "-10") %>
<%= label_tag(:age_child, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-9") %>
<%= label_tag(:age_adult, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-8") %>
<%= label_tag(:age_child, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-7") %>
<%= label_tag(:age_adult, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-6") %>
<%= label_tag(:age_child, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-5") %>
<%= label_tag(:age_adult, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-4") %>
<%= label_tag(:age_child, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-3") %>
<%= label_tag(:age_adult, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-2") %>
<%= label_tag(:age_child, "o", :class => 'negative') %>
<%= radio_button_tag(:age, "-1") %>
<%= label_tag(:age_adult, "o", :class => 'negative') %>

</div>

</body>