<% provide(:title, 'Welcome') %>
<div class="header"> 
	<%= render 'shared/top_nav' %>
</div>

<div class = "main_content">
	<%= render 'shared/left_nav' %>
	<div class="col span_4_of_6 right_content">
		<div class="rate_activities">
			<h3> Rate Activities! (<%= @activities.count %>)</h3>
			<% if @activities.any? %>
				<%= render partial: 'activity', collection: @activities, locals: { activity: @activity } %>
				<%= will_paginate @activities %>
				<% end %>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>