<% provide(:title, 'Welcome') %>
<div class="header"> 
	<%= render 'shared/top_nav' %>
</div>

<div class = "main_content">
	<%= render 'shared/left_nav' %>
	<div class="col span_4_of_6 right_content">
		<div class="my_activities">
			<h3> My Activities! (<%= @user.activities.count %>)</h3>
			<% if @user.activities.any? %>
				<%= render @activities %>
			<%= will_paginate %>
			<% end %>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>